body {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    cursor: pointer;
}

.image-container {
    height:20px;
}
/*For maginfying glass image only*/
.glass {
    border-width: 1px solid black;
}

h2 {
    margin:0;
}

section {
    /*Sections are already hidden to prevent funny bussiness when loading page*/
    display: none;
    background-color: white;
    margin-left: 3.5%;
    width:95%;
    margin-top: 1%;
}
/*Companies and students*/

.nameSearch {
    border-left:none;
}

.filter {
    margin-left: 3.5%;
    display: flex;
    flex-direction: row;
}

/*For appointments*/
.hidden {
    display:none;

}
/*For adding to company*/
.addUser {
    width:40%;
    margin-left:30%;
    align-content:center;
}

.add {
    border:none;
    font-weight: bold;
    background-color: inherit;
    margin-left:80%;
}

form {
    display: flex;
    flex-direction: column;
}

.addInput {
    margin-bottom: 2%;
}

/*Table*/

table {
    width:85%;
    margin-left:3.5%;
    border-collapse: collapse; 
    border-width:1px;
}
.list {
    background-color: white;
    overflow: auto;
    height:100%;
}

li {
    margin-bottom:0.5%;
}

th {
    font-style: normal;
    text-align: center;
    margin-right:0px;
    margin:0px;
    width:10%;
}

.th-short {
    width:5%;
    background-color: white;
}
/*Here to change the size of some headers*/

.extraTh {
    width:5%;
}

.loginTh {
    width:7.5%;
}

.mailTh {
    width:1%;
}


.extraTd {
    text-align: center;
}

tr {
    border: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
}

.highlighted {
    border-color: red;
}

td {
    height:8vh;
}

.studentActivated {
    width:min-content;
}

.searchable {
    height:77%;
    margin-left:3.5%;
}

#appointments {
    height:90%;
}

.searchable-content {
    width:80%;
    background-color: red;
}

#main-container 
{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left:2.5vw;
    margin-right:2.5vw;

    border-radius: 10px;

    display:flex;
    flex-direction: row;
    background-color: grey;
    height:90vh;
    width:95vw;
}

/* NAVIGATION ELEMENTS-----------------*/
.nav-container {
    height: 100%;
    width:15%;
    border-radius: 3%;

    display: inherit;
    flex-direction: column;
    color: white;
    background-color: #252D3C;
    font: Verdana, sans-serif;
}

/*Nav element is both info-nav and btn-nav*/
.nav-element {
    margin-left:10%;
    margin-top: 10%;
}

.info-nav {
    font-size: 175%;
}

.btn-nav {
    border: none;
    height:7%;
    width:80%;
    background-color: inherit;
    color: inherit;
    font-size: 120%;
    border-radius: 5px;
    background-color: #365B93;
}

.btn-nav:hover {
    cursor:pointer;
    background-color: #365B93;
}

#logout {
    border:none;
    margin-top: 5%;
    width:45%;
    background-color: grey;
}
#logout:hover {
    background-color: darkgrey;
}

/*right navigation elements*/
.amount-section {
    border: none;
    height:15%;
    width:80%;
    margin-bottom: 10%;
    background-color: white;
    color: black;
    font-size: 120%;
    border-radius: 5px;
}

.section-inside {
    height:100%;
    text-align: center  ;
}
/*RESULT ELEMENTS---------------------*/
#result-container {
    margin-left: 2%;
    width:82.5%;


    height:90%;
    margin-top: 2.5%;
    background-color: darkgrey;
}

#create:hover {
    cursor:pointer;
}


h2 {
    padding-top: 3%;
    padding-left: 4%;
}

.member-amount {
    display: flex;
    flex-direction: column;
    margin-left:5%;
}
/*Students and companies*/

.studentId {
    display: none;
}
.extraActions {
    height:16px;
    width:16px;
}

.extraActions:hover {
    cursor: pointer;
}

/*LOGS*/

.logItem {
    margin-left:0px;
    padding-bottom:2%;
    display: flex;
    flex-direction: row;
}

.logAction {
    width:50%;
}
.logDate {
    width:30%;
}

#form-container {
    display: flex;
    justify-content: right;
}

#next-log-form {
    align-self: right;
    width: 50%;
}
#prev-log-form {
    align-self: left;
    width: 50%;
}


select {
    border:none;
}

#events {
    border:none;
}
.eventSearch {
    width:90%
}
/*Extra, when the admin wants to check extra info of a user*/
#extra-container {
    /*starts of undisplayed*/
    display: none; 
    position:fixed;
    margin:0;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    margin-left:0%;
    z-index: 1;
    background:rgb(0, 0, 0, 0.5)
}

/* Button for removing popups */
#removePopupButton {
    position: relative;
    
    width:5%;
    font-size: large;
    aspect-ratio:1 / 1;
    left:95%;
    background-color: inherit;
    border-top:none;
    border-right:none;
}

#extra-message-container {
    margin-left: 35%;
    margin-top: 10%;
    width:30%;
    height:40%;
    background-color: white;
    overflow:auto;
    border:solid black;
}
#extra-message {
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
}

.tempForm {
    display: none;
}