body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: #fff;
}

main {
    display: flex;
    height: 100vh;
}

#sidebar {      /*sidebar links*/
    width: 35%;
    background: #252D3C;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidebar-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {            /*header boven sidebar*/
    background: #0046C9;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

header h1 {         /*profielfoto en naam*/
    margin: 1.5rem;
}

header nav {        /*navigatie balk*/
    background: #000;
    padding: 0.5rem;
}

header nav ul {     /*navigatie oplijsting*/
    display: flex;
    gap: 1.5rem;
    margin: 0;
    list-style-type: none;
}

header nav ul li a {        /*navigatie knoppen*/
    font-weight: bold;
    cursor: pointer;
}

#screen {            /*main scherm rechts*/
    width: 65%;
    background: #000000;
}

#screen-content {            /*positionering rechthoek*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#screen-rectangle {          /*rechthoek voor matches scherm rechts*/
    width: 400px;
    height: 700px;
    background: #424242;
}

#company-name {         /*naam van bedrijf*/
    font-weight: 900;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
}

#company-title p {          /*positie binnen bedrijf*/
    padding: 0.5rem 1rem 1rem 1.5rem;
    margin: 0;
}

#logo-placeholder {         /*placeholder voor logo van bedrijf*/
    background-color: #ccc;
    width: 100%;
    height: 100px;
}

#company-info {            /*informatie over bedrijf*/
    padding: 1rem;
}

#company-info h5 {
    margin: 0;
    font-size: 1rem;
}

#company-info ul, p {
    padding-left: 1.5rem;
    color: #eee;
    list-style-type: circle;
}

#swipe {         /*swipe knoppen*/
    display: flex;
    justify-content: space-between;
}

#swipe button {
      background-color: #aaa;
      border: 2px solid #fff;
      border-radius: 50%;
      font-size: 24px;
      width: 48px;
      height: 48px;
      cursor: pointer;
}

#groundplan {          /*plattegrond van EHB omkadering*/
    width: 100%;
    height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: auto;
}

#groundplan img {
    width: 100%;
}

#message-list {          /*message lijst van bedrijven*/
    display: flex;
    flex-direction: column;
}

.message-item {             /*naam van bedrijf voor messages*/
    padding: 1rem;
    border: solid #fff;
    border-radius: 6px;
}

#message-info {             /*als niks geselecteerd is op het messages scherm*/
    text-align: center;
}

#message-info h3 {
    margin-bottom: 0.3rem;
    font-size: 2rem;
    color: #e8e8e8;
}

#message-info p {
    font-size: 1rem;
    color: #ccc;
}

#times-list {          /*lijst van gereserveerde tijden*/
    display: flex;
    flex-direction: column;
}

#calendar-table {           /* tabel van gereserveerde tijden*/
    width: 100%;
    border-collapse: collapse;
    background: #2e2e2e;
    margin: 0.5rem;
    table-layout: fixed;
}

#calendar-table td, th {        /*opmaak cellen van de tabel*/
    border: 0.5px solid #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
}

#calendar-table th:first-child{     /*fix voor probleem eerste rij van tabel*/
    width: 0.5rem;
}

.pfp {       /*profielfoto in header*/
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 1rem;
}

.header {
    display: flex;
    align-items: center;
}
